/* ARTICLE TYPE 4 */

.typeFour {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.typeFour--img {
    width: 100%;
  }
  
  @media screen and (min-width:900px) {
  
    .typeFour {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;
    }
  
    .typeFour--article a {
      max-width: 20rem;
    }
  
    .typeFour--img {
      width: 10rem;
      margin-left: 10px;
    }
  
    .typeFour--title {
      font-size: 1rem;
    }
  
    .typeFour--abstract {
      font-size: 14px;
    }
    
  }
  
  @media screen and (min-width: 1200px) {
  
    .typeFour {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .typeFour--img {
      width: 100%;
    }
  
  }