/* NAVBAR COMPRESSED */

.navbar {
    width: 100%;
    height: 6rem;
}
  
.navbar--firstline {
    height: 3rem;
    border-bottom: var(--lightBorder);
}

.firstline--items {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    padding: 0 1rem;
}

.navbar--secondline {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    height: 2rem;
    padding: 0 1.5rem;
    border-bottom: var(--lightBorder);
}
  
.navbar--secondline a {
    text-transform: uppercase;
    font-size: 6px;
    color: var(--buttonColor);
}
  
.navbar--logo {
    width: 15rem;
}
  
  
  
@media screen and (min-width: 1200px) {
  
    .navbar {
      height: 11rem;
    }
  
    .navbar--firstline,
    .navbar--secondline {
      display: flex;
      align-items: center;
  
      position: relative;
      border: none;
    }
  
    .firstline--items--left,
    .firstline--items--center,
    .firstline--items--right {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      list-style: none;
      position: absolute;
    }
  
    .firstline--items--right {
      right: 0;
    }
  
    .firstline--items--center {
      left: 43%;
      translate: -50%;
    }
  
    .navbar--firstline ul {
      margin-left: 5rem;
      min-width: 19rem;
    }
  
    .subscribe {
      width: 12rem;
    }
  
    .navbar--secondline {
      display: flex;
      justify-content: space-between;
      height: 5rem;
      position: relative;
    }
  
    .navbar--thirdline {
      height: 2.5rem;
      border-top: var(--lightBorder);
      border-bottom: var(--darkBorder);
  
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  
    .thirdline--list {
      display: flex;
      gap: 1.2rem;
      list-style: none;
  
      font-size: 0.8rem;
    }
  
    .navbar--logo {
      width: 29rem;
      margin-right: 4.5rem;
    }
  
}