* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --mainRadius: 4px;

  --lightShadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.3);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);

  --lightBorder: 0.5px solid rgb(203, 203, 203);
  --darkBorder: 1px solid rgb(62, 62, 62);

  --greyColor: rgb(62, 62, 62);
  --lightGreyColor: rgb(203, 203, 203);
  --buttonColor: rgb(76, 93, 149);


  --fontsizeH5: 10px;
  --fontsizeH4: 12px;
  --fontsizeH3: 14px;
  --fontsizeH2: 17px;
  --fontsizeH1: 19px;
}

body {
  margin: 0 auto;
  font-family: 'Newsreader', serif;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover {
  color: rgb(126, 126, 126);
}

.main--button,
.third--button {
  background-color: var(--buttonColor);
  color: white;
  width: 2rem;
  height: 2rem;
  margin-left: 5px;
  border-radius: var(--mainRadius);
  border: var(--lightBorder);

  cursor: pointer;
}

.second--button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  font-size: 1.2rem;
  width: 2.3rem;
  height: 2.3rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary--button:hover {
  background-color: grey;
  border-radius: var(--mainRadius);
}

.third--button {
  width: 4rem;
  border-radius: var(--mainRadius);
  text-transform: uppercase;
}

.third--button a {
  color: white;
}

.link--active {
  font-weight: bold;
}

figcaption {
  font-size: 11px;
  text-align: end;
  color: var(--greyColor);
}

.vertical--line {
  height: 100%;
  width: 1px;

  background-color: var(--greyColor);
}

.vertical--light--line {
  height: 100%;
  width: 1px;

  background-color: var(--lightGreyColor);
}

.horizontal--line {
  width: 100%;
  height: 1px;

  background-color: var(--greyColor);
}

.horizontal--light--line {
  width: 100%;
  height: 1px;

  background-color: var(--lightGreyColor);
}

.byline {
  font-size: 12px;
  color: var(--greyColor);
  margin: 0.25rem 0;
}

.section--title {
  padding: 1rem 1rem;
  color: var(--buttonColor);
}

.hidden {
  display: none;
}

h5 {
  font-size: var(--fontsizeH5);
  font-weight: 500;
}

h4 {
  font-size: var(--fontsizeH4);
  font-weight: 500;
}

h3 {
  font-size: var(--fontsizeH3);
  font-weight: 400;
}

h2 {
  font-size: var(--fontsizeH2);
  font-weight: 600;
}

h1 {
  font-size: var(--fontsizeH1);
  font-weight: 700;
}

.img--caption {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-weight: bold;
  color: white;
}

/* LOADER */

.loader {
  width: 48px;
  height: 48px;

  border-radius: 50%;
  border-top: 3px solid rgb(0, 0, 0);
  border-right: 3px solid transparent;
  display: block;
  margin: 10rem auto;


  box-sizing: border-box;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 





@media screen and (min-width: 1200px) {
  
  body {
    width: 90%;
    max-width: 80rem;
  }

}









/* SPLIT PAGE */

@media screen and (min-width: 1100px) {
  
  .split {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .left {
    width: 70%;
  }
  
  .right {
    width: 30%;
  }
  
}

/* END OF SPLIT PAGE */












/* LIVE TAG */

.article--live {
  display: flex;
  align-items: center;
  gap: 1rem;
  
}

.article--live p {
  color: red;
  text-transform: uppercase;
  font-size: 12px;
}

.article--live h4 {
  background-color: red;
  color: white;
  border-radius: var(--mainRadius);
  
  height: 1rem;
  width: 2rem;
  font-size: 12px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

/* END OF LIVE TAG */










.errorpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem;
  gap: 1rem;
}